mixin setup-block-top(icon, title, ...text)
	.col-lg.col-md-4.mb-4.mb-lg-4
		.crm-setup
			.crm-setup__head
				.crm-setup__icon-block.mx-auto.mb-2
					img(src="picture/upload/"+icon, alt="").crm-setup__icon
				.h5.text-center.mb-0= title
			.d-lg-none
				.crm-setup__body
					each txt in text
						p.mb-3= txt
mixin setup-block-bottom( ...text)
	.col-lg.col-md-4.mb-5.mb-lg-4.d-none.d-lg-block
		.crm-setup__body.h-100
			each txt in text
				p.mb-3= txt
mixin setup-block-top-green(icon, title, ...text)
	.col-lg.col-md-4.mb-4.mb-lg-4
		.crm-setup
			.crm-setup__head
				.crm-setup__icon-block.crm-setup__icon-block-green.mx-auto.mb-2
					img(src="picture/upload/"+icon, alt="").crm-setup__icon
				.h5.text-center.text-green-crm.mb-0= title
			.d-lg-none
				.crm-setup__body.crm-setup__body-green
					each txt in text
						p.mb-3= txt
mixin setup-block-bottom-green(...text)
	.col-lg.col-md-4.mb-5.mb-lg-4.d-none.d-lg-block
		.crm-setup__body.crm-setup__body-green.h-100
			each txt in text
				p.mb-3= txt
.py-5.bg-lightyellow.border-top.border-secondary.border-bottom
	.container.my-md-4
		.row
			.col-md-12
				h3.mb-5 Настраиваем сложные CRM-системы
		.row
			+setup-block-top('face-icon__1.png', 'Для управления отделом продаж в b2b', 'Продажи на рынке B2B обычно отличаются не только большим количеством ЛВПР, но и более сложным циклом сделки.', 'Также стоит учитывать что цикл сделки меняется в зависимости от отрасли и найти стандартное решение иногда просто невозможно.')
			+setup-block-top('face-icon__2.png', 'Для контроля работы с холодной базой клиентов', 'При большом объеме холодных звонков важно автоматизировать контроль менеджеров колл центра.', 'Зачастую это занимает такое же количество ресурсов, как и работа самих операторов.', 'На помощь может прийти автоматическая транскрибация звонков с последующим выделением из них ошибочных фраз.')
			+setup-block-top('face-icon__3.png', 'Для управления армией торговых представителей', 'CRM для торговых представителей имеет специфические особенности - она должна просчитывать маршрут агента, упросить ему заполнение огромного количества информации о товаре, считывать его корректное расположение и выявлять ошибки в сортировке на полках.')
			+setup-block-top('face-icon__4.png', 'Для управления дилерскими сетями', 'Специфика CRM Для дилерских сетей состоит в том, что заказы могут приходить как на основной сайт компании, так и на сайты дилеров.', 'Производителю важно видеть как их отрабатывает дилер, а дилеру важно получать информацию о движении заказа в оперативном режиме.', 'Также важной спецификой является учет складских остатков в опредленном регионе.', 'Оперативное принятие решения в этих и других вопросах может сэкономить миллионы.')
			+setup-block-top-green('face-icon__5.png', 'Для зеленых менеджеров', 'Обучение новых сотрудников работе в компании зачастую очень сложный процесс занимающий много времени.', 'Современные умные CRM системы позволяют в режиме реального времени давать подсказку сотруднику что ответить на тот или иной вопрос клиента, напомнить молодому специалисту о тонкостях продукта и помочь заполнить необходимые документы.')
		.row
			+setup-block-bottom('Продажи на рынке B2B обычно отличаются не только большим количеством ЛВПР, но и более сложным циклом сделки.', 'Также стоит учитывать что цикл сделки меняется в зависимости от отрасли и найти стандартное решение иногда просто невозможно.')
			+setup-block-bottom('При большом объеме холодных звонков важно автоматизировать контроль менеджеров колл центра.', 'Зачастую это занимает такое же количество ресурсов, как и работа самих операторов.', 'На помощь может прийти автоматическая транскрибация звонков с последующим выделением из них ошибочных фраз.')
			+setup-block-bottom('CRM для торговых представителей имеет специфические особенности - она должна просчитывать маршрут агента, упросить ему заполнение огромного количества информации о товаре, считывать его корректное расположение и выявлять ошибки в сортировке на полках.')
			+setup-block-bottom('Специфика CRM Для дилерских сетей состоит в том, что заказы могут приходить как на основной сайт компании, так и на сайты дилеров.', 'Производителю важно видеть как их отрабатывает дилер, а дилеру важно получать информацию о движении заказа в оперативном режиме.', 'Также важной спецификой является учет складских остатков в опредленном регионе.', 'Оперативное принятие решения в этих и других вопросах может сэкономить миллионы.')
			+setup-block-bottom-green('Обучение новых сотрудников работе в компании зачастую очень сложный процесс занимающий много времени.', 'Современные умные CRM системы позволяют в режиме реального времени давать подсказку сотруднику что ответить на тот или иной вопрос клиента, напомнить молодому специалисту о тонкостях продукта и помочь заполнить необходимые документы.')