mixin notebook(name, image, link)
	.cases__notebook
		p.h5.mb-3= name
		a(href=link target="_blank").cases__notebook-link
			span.cases__notebook-link-img
				img(src=image, alt="").w-100
mixin box(name, title, image, num, undertitle, link)
	.cases__box.w-100
		a(href=link target="_blank").cases__box-name.mb-3
			span= name
			svg(width="21" height="14" version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 31.49 31.49' style='enable-background:new 0 0 31.49 31.49;')
				path(d='M21.205,5.007c-0.429-0.444-1.143-0.444-1.587,0c-0.429,0.429-0.429,1.143,0,1.571l8.047,8.047H1.111 C0.492,14.626,0,15.118,0,15.737c0,0.619,0.492,1.127,1.111,1.127h26.554l-8.047,8.032c-0.429,0.444-0.429,1.159,0,1.587 c0.444,0.444,1.159,0.444,1.587,0l9.952-9.952c0.444-0.429,0.444-1.143,0-1.571L21.205,5.007z')
					g
					g
					g
					g
					g
					g
					g
					g
					g
					g
					g
					g
					g
					g
					g
		p= title
		if image==false
		else
			a(href=image data-fancybox).cases__box-image-link
				img(src=image, alt="").w-100
		p.cases__box-num= num
		p.text-center.mb-0= undertitle
mixin case-1(name, image, link)
	.cases__case.cases__case-1
		a(href=link target="_blank")
			.cases__case-text Кейс
			h3.text-white.h4.text-uppercase=name
			.cases__case-1-img.cases__case-img
				img(src=image, alt="")
mixin case-2(name, image, link, title)
	.cases__case.cases__case-2.w-100
		a(href=link target="_blank")
			.cases__case-2-img.cases__case-img
				img(src=image, alt="")
			.cases__case-2-container
				.cases__case-text Кейс
				h3.text-white.h4.text-uppercase= name
				p.text-warning.mt-2= title
mixin case-3(name, image, link, title)
	.cases__case.cases__case-3.w-100
		a(href=link target="_blank").d-block
			.cases__case-text Кейс
			h3.text-white.h4.text-uppercase= name
			.cases__case-3-img.cases__case-img
				.bg-warning.rounded-circle.cases__case-3-img-item= title
				img(src=image, alt="")
mixin basic(name, title, ...items)
	.cases__basic.bg-white.pt-3.pb-3.pl-4.pr-4
		p.h3= name
		p.pb-3.border-bottom.border-warning= title
		ul.pl-3
			each item in items
				li.text-warning.mb-2
					span.text-dark= item