mixin step-list(...lists)
	ul.step__list.list-unstyled.d-none.d-md-flex
		each list, index in lists
			if index == 0
				li.step__list-item.active
					a(href="#" data-link=index).step__list-item-link
						span.step__list-item-link-num= index + 1
						span.step__list-item-link-text= list
			else
				li.step__list-item
					a(href="#" data-link=index).step__list-item-link
						span.step__list-item-link-num= index + 1
						span.step__list-item-link-text= list
mixin step-next-btn
	button.btn.btn-warning.step__next.mt-4.mb-4.d-none.d-md-flex.align-items-center
		span.mr-2 Следующий этап
		i.icon.icon-arrow-right.step__next-icon
mixin step-carousel
	.step__carousel.bg-white.rounded-0
		img(src="picture/upload/crm-steps-1.png", alt="").w-100
		img(src="picture/upload/crm-steps-2.png", alt="").w-100
		img(src="picture/upload/crm-steps-3.png", alt="").w-100
		img(src="picture/upload/crm-steps-4.png", alt="").w-100
		img(src="picture/upload/crm-steps-5.png", alt="").w-100
		img(src="picture/upload/crm-steps-6.png", alt="").w-100
.py-5.step.overflow-hidden
	.container.mt-lg-5.mt-md-4.mb-md-4
		.row
			.col-md-12
				.h2.mb-4 Этапы нашей работы по внедрению CRM
				+step-list('Описание бизнес процессов отдела продаж', 'Техническое Задание на внедрение CRM', 'Разработка CRM-системы согласно ТЗ', 'Настройка маркетинговой составляющей ', 'Обучение сотрудников работе с CRM ', 'Дальнейшая поддержка')
			.col-md-12.d-flex.align-items-center.mb-4
				.step__heading
					span.h4.text-uppercase.mb-0 Этап
					span.step__heading-num.h4.mx-2.mb-0 1
				h3.step__heading-name.text-uppercase.mb-0 Описание бизнес процессов отдела продаж
		.row
			.col-xl-4.col-lg-5.col-md-6
				.step__container.step__container-active(data-show="0")
					.d-block
						ol.pl-4.mb-4
							li.mb-2 Проводим брифинг с отделом продаж по процессам и описываем их
							li.mb-2 Оцениваем их состояние и готовность к оцифровке
						.border.p-3.my-3.w-100
							.h3.font-weight-normal Поймем, откуда приходят клиенты и через какие каналы осуществляются продажи
					+step-next-btn
				.step__container(data-show="1")
					.d-block
						ol.pl-4.mb-4
							li.mb-2 Описываем необходимый функционал для оцифровки процессов
							li.mb-2 Разбиваем их на итерации
							li.mb-2 Подбираем CRM из типовых решений или готовим ТЗ на самописную версию
							li.mb-2 При необходимости прописываем дополнительные расширения и интеграции
					+step-next-btn
				.step__container(data-show="2")
					.d-block
						ol.pl-4.mb-4
							li.mb-2 При выборе типового решения делаем настройку выбранной CRM(AmoCRM, TerraSoft, Bitrix24 или любая другая) или пишем CRM под прописанные в ТЗ требования с нуля
							li.mb-2 Подключаем все существующие каналы поступления заявок
							li.mb-2 Импортируем (или помогаем вам импортировать) в CRM базу клиентов
					+step-next-btn
				.step__container(data-show="3")
					.d-block
						p.mb-4 Любая CRM система хороша тем, что мы знаем какой этап воронки в данный момент проходит клиент.
						p.mb-4 Благодаря этой информации мы можем настроить CRM маркетинг и подогревать потенциального клиента материалами отрабатывающими возражения на конкретном этапе продаж.
					+step-next-btn
				.step__container(data-show="4")
					.d-block
						p.mb-4 Проводим обучающие семинары для ваших сотрудников.
						p.mb-4 Рассказываем о всех тонкостях работы и том, как оптимизировать своё рабочее время при работе с CRM.
					+step-next-btn
				.step__container(data-show="5")
					.d-block
						ol.pl-4.mb-4
							li.mb-2
								span.mb-2.d-block Услуга поддержки и удаленного помощника для отдела продаж. Выборочный контроль обработки входящих звонков, регламент планерок по CRM, контроль дисциплины ведения CRM:
								ul.pl-4.mb-2
									li.mb-2 статус проектов в воронке и помощь менеджерам в подготовке
									li.mb-2 контроль постановки и исполнения задач, способствующих их движению,
									li.mb-2 помощь в выстраивании отчетности по отделу продаж,
									li.mb-2 помощь в формировании скриптов продаж с лучшими практиками отдела
							li.mb-2 Заказная разработка дополнительных модулей для CRM или заказной CRM системы
					button.btn.btn-warning.data-scroll.mt-4.mb-4.d-none.d-md-block(data-scroll="form-content") Заказать CRM
			.col-xl-8.col-lg-7.col-md-6
				+step-carousel