-
	var histories = [
		{
			title: '1998-2001',
			desc: 'Основатели Комплето познакомились с интернетом и стали зарабатывать в нём деньги',
			text: 'Еще не существовало Комплето и даже такого понятия как digital-маркетинг. Но в тот момент несколько увлеченных людей осознали, что интернет в будущем полностью изменит принципы продвижения товаров и услуг.',
			img: 'picture/upload/company/history-1.png'
		},
		{
			title: '2001-2007',
			desc: 'Основатели Комплето в качестве частных специалистов реализовывали digital-проекты',
			text: 'Интернет бурно развивался, появились ключевые инструменты digital-маркетинга, число коммерческих сайтов росло в геометрической прогрессии. Клиентов становилось больше, запросы разнообразнее. Стало очевидно, что для дальнейшего роста нужна команда',
			img: 'picture/upload/company/history-2.png'
		},
		{
			title: '2007-2011',
			desc: 'В 2007 году было зарегистрировано юридическое лицо "Комплето"',
			text: 'Компания росла, но была ограничена фокусом на инструментах, алгоритмах и web-разработке. Мы работали как рядовая студия и оказывали десятки разрозненных услуг всем обратившимся клиентам. Нам это приносило деньги, а бизнесу наших клиентов далеко не всегда. Даже при идеальной реализации.',
			img: 'picture/upload/company/history-3.png'
		},
		{
			title: '2015-2021',
			desc: 'Мы стали создателями и идеологами Системного Электронного Маркетинга',
			text: 'Наш подход к digital обрел форму и название. Системный Электронный Маркетинг – это гибкий подход к маркетингу и продажам через интернет, который всегда опирается на классический маркетинг, цели и задачи бизнеса, исследования, глубокую аналитику. На их основе формируется стратегический и тактический план, комплекс инструментов продвижения и автоматизации.',
			img: 'picture/upload/company/history-5.png'
		},
		{
			title: '2021-..',
			desc: 'Комплето – B2B Sales Performance',
			text: 'B2B Sales Performance – это развитие идей СЭМ, измеримый и устойчивый рост продаж B2B-компаний. Для Комплето продвижение – всего лишь элемент большой системы, результат которой – конечная продажа и upsale. Система строится с учетом глубокого понимания конечного клиента – его пути к покупке и клиентского опыта.',
			img: 'picture/upload/company/history-6.png'
		},
	]

.company-history
	.container
		h2 История
		.company-history__wrapper.d-flex
			.company-history__slider.owl-carousel.owl-theme
				each history in histories
					.company-history__slider-item
						.company-history__slider-item-title= history.title
						.company-history__slider-item-desc= history.desc
						.company-history__slider-item-text= history.text
						.company-history__slider-item-img
							img(src=history.img, alt="")
			.company-history__slider-dots.owl-dots
				each history in histories
					.owl-dot.company-history__slider-dot= history.title
